@font-face {
    font-family: "nexa";
    font-style: normal;
    font-weight: 400;
    src: local('nexa'), url('../fonts/nexa-regular.woff') format('woff');
}

@font-face {
    font-family: "nexa";
    font-weight: 200;
    src: local('nexa'), url('../fonts/nexa-light.woff') format('woff');
}

@font-face {
    font-family: "nexa";
    font-weight: bold;
    src: local('nexa'), url('../fonts/nexa-bold.woff') format('woff');
}

@font-face {
    font-family: "nexa";
    font-weight: 900;
    src: local('nexa'), url('../fonts/nexa-heavy.woff') format('woff');
}