
//Colors
$primary-color: #1A1919;
$background-color: #FFFFFF;
$button-color: rgba(26, 25, 25, 0.65);
$notif-color: #CE1126;
$title-color: #007AC9;

//font
$font-main: nexa;

/*==========  Media Queries  ==========*/

$breakpoint-custom: 320px;
@media (min-width: $breakpoint-custom) {

}

$breakpoint-phone: 480px;
@media (min-width: $breakpoint-phone) {

}

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {

}

$breakpoint-desktop: 992px;
@media (min-width: $breakpoint-desktop) {

}

$breakpoint-large: 1200px;
@media (min-width: $breakpoint-large) {

}

$breakpoint-Xlarge: 1600px;
@media (min-width: $breakpoint-Xlarge) {

}

